@use "../../base/" as *;
@use "../../utilities/" as *;

.btn-form {
  @include button-style;
  width: 9.375rem;
  background: $dark-gray-200;
  margin: 0.3125rem;
  border: none;
  border-radius: 0.3125rem;
  transition: $transition-time;

  &--active {
    background-color: $post-active-color;
    color: inherit;
  }

  &:not(&--active) {
    cursor: not-allowed;
    color: $gray-600;
  }
}

.btn-interaction {
  @include flex-center;
  background: none;
  color: $white;
  border: none;

  &:hover {
    cursor: pointer;
  }

  &__icon {
    margin-right: $small-gap;
    font-size: $medium-font-size;
  }

  &__nav-sidebar__icon {
    margin-right: $medium-gap;
    font-size: $large-font-size;
  }
}
