@use "../../base/" as *;
@use "../../utilities/" as *;

.btn-interaction {
  @include flex-center;
  background: none;
  color: $white;
  border: none;

  &:hover {
    cursor: pointer;
  }

  &__icon {
    margin-right: $small-gap;
    font-size: $medium-font-size;
  }

  &__nav-sidebar__icon {
    margin-right: $medium-gap;
    font-size: $large-font-size;
  }
}
