@use "colors" as *;
@use "typography" as *;
@use "../utilities/" as *;

* {
  scrollbar-width: thin;
  scrollbar-color: $rgba-white-30 $rgba-black-90;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: $rgba-black-90;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $rgba-white-30;
    border-radius: $large-border-radius;
  }
}

body {
  line-height: $line-height-primary;
  font-family: $font-family-primary;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $background-color;
  color: $white;
}

.main {
  display: grid;
  grid-template-columns: auto 3fr auto;
  gap: $medium-gap;
  min-height: max-content;
  overflow-y: auto;
  padding: 6.25rem 0 3.75rem;
}

.pages {
  max-width: 42.5rem;
  margin: 0 auto;
}

.truncate {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  padding: 0;
}
