@use "../base/" as *;
@use "../utilities/" as *;

.dashboard {
  max-width: 42.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
  margin-bottom: 1rem;
  padding: 1rem;
  background: $ultra-violet;
  border: 5px solid $eerie-black;
  border-radius: $small-border-radius;

  @media screen and (max-width: 1170px) {
    max-width: 78%;
    display: flex;
    flex-direction: column;
    gap: unset;
  }

  @media screen and (max-width: 800px) {
    margin-top: 0.85rem;
  }

  @media screen and (max-width: 700px) {
    margin-top: unset;
    max-width: 100%;
  }

  .dashboard__title {
    font-size: $large-font-size;
    font-weight: 700;
    margin-bottom: $small-gap;
    grid-column: 1 / -1;
    padding: 0.65rem 1rem;
    background: $eerie-black;
    border-radius: $small-border-radius;
    transition: transform 0.3s ease-in-out;
  }

  .dashboard__item {
    min-height: 200px;
    padding: 1rem;
    border-radius: $small-gap;
    box-shadow: 0 0 10px $rgba-black-10;
    transition: all 0.3s ease-in-out;
    backface-visibility: hidden;

    &:hover {
      box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.3);

      h2 {
        color: $tiffany-blue;
      }
    }

    &-post-summary {
      grid-column: 1/-1;
    }
  }

  .top-row {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    grid-column: 1 / -1;
    grid-row: 2/ 3;

    & .dashboard__item:nth-of-type(1),
    & .dashboard__item:nth-of-type(2) {
      width: auto;
    }

    @media screen and (max-width: 1610px) {
      flex-direction: column;
      gap: 1rem;
      width: fit-content;
    }
  }

  .mid-row {
    @include justify-between;
    gap: 1rem;
    grid-column: 1 / -1;
    grid-row: 3/ 4;

    & .dashboard__item:nth-of-type(1),
    & .dashboard__item:nth-of-type(2) {
      width: 100%;
    }
  }

  .bottom-row {
    @include justify-between;
    gap: 1rem;
    grid-column: 1 / -1;
    grid-row: 4/ 5;
  }
}
