@use "../base/" as *;
@use "../utilities/" as *;

.messages {
  width: 42.5rem;
  background: $eerie-black;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.messages__title {
  font-size: $large-font-size;
  font-weight: 700;
  margin-bottom: $small-gap;
  padding: 0.65rem 1rem;
  background: $eerie-black;
  border-radius: $small-border-radius;
}

.messages__item {
  border-bottom: 1px solid $gray-700;
  padding: 10px 0;
}

.messages__message {
  margin: 0;
}
