@use "../base/" as *;
@use "../utilities/" as *;

.notifications {
  min-width: 42.5rem;
  max-width: 42.5rem;
  width: 100%;
  background: $eerie-black;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;

  @media screen and (max-width: 1170px) {
    min-width: unset;
    max-width: 78%;
    gap: unset;
  }

  @media screen and (max-width: 800px) {
    margin-top: 0.85rem;
  }

  @media screen and (max-width: 700px) {
    margin-top: unset;
    max-width: 100%;
  }

  &__title {
    font-size: $large-font-size;
    font-weight: 700;
    margin-bottom: $small-gap;
    padding: 0.65rem 1rem;
    background: $eerie-black;
    border-radius: $small-border-radius;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $gray-700;
    padding: 10px 0;
  }

  &__message {
    margin: 0;
  }

  &__close {
    background: none;
    border: none;
    color: $tiffany-blue;
    cursor: pointer;
  }
}
