@use "../../base/" as *;
@use "../../utilities/" as *;

.input-avatar {
  &__container {
    @include flex-center;
    gap: $small-gap;
  }

  &__input-container {
    flex: 1;
    position: relative;
  }

  &__input {
    transition: $transition-time;
    background: $dark-gray-200;
    color: $white;
  }

  &__icon-container {
    @include flex-center;
    position: absolute;
    right: $small-gap;
    top: 50%;
    transform: translateY(-50%);
    justify-content: center;
  }

  &__icon {
    font: {
      size: $medium-font-size;
      weight: bold;
    }
    cursor: pointer;

    &--active {
      color: $tiffany-blue;
      cursor: pointer;
    }

    &:not(&--active) {
      color: $gray-600;
      cursor: not-allowed;
    }
  }
}

.inputfield {
  &__div {
    width: 100%;
  }

  &__input {
    width: 100%;
    padding: 0.625rem 0.9375rem;
    border: none;
    outline: none;
    border-radius: $input-border-radius;
    color: $white;
    transition: $transition-time;

    &:focus,
    &:hover {
      background: $dark-gray-100;
      transform: $transform-scale;
    }
  }
}

.searchbar {
  &__input {
    color: $eerie-black;
    border: none;
    outline: none;
    padding: $small-gap 1.5rem $small-gap;
    width: 100%;
    border-radius: $input-border-radius;

    &:focus,
    &:hover {
      background: $white;
      transform: $transform-scale;
    }
  }
}
