@use "../../base/" as *;
@use "../../utilities/" as *;

.input-error {
  height: 20px;
  height: max-content;
  color: $error-color;
  font-size: $small-font-size;
  text-align: center;
}

.input-error--title {
  margin-bottom: 0.5rem;
  grid-area: error-title;
}

.input-error--post {
  margin-top: 0.5rem;
  grid-area: error-post;
}
