@use "../../base/" as *;
@use "../../utilities/" as *;

.input-avatar {
  &__container {
    @include flex-center;
    gap: $small-gap;
  }

  &__input-container {
    flex: 1;
    position: relative;
  }

  &__input {
    transition: $transition-time;
    background: $dark-gray-200;
    color: $white;
  }

  &__icon-container {
    @include flex-center;
    position: absolute;
    right: $small-gap;
    top: 50%;
    transform: translateY(-50%);
    justify-content: center;
  }

  &__icon {
    font: {
      size: $medium-font-size;
      weight: bold;
    }
    cursor: pointer;

    &--active {
      color: $tiffany-blue;
      cursor: pointer;
    }

    &:not(&--active) {
      color: $gray-600;
      cursor: not-allowed;
    }
  }
}
