$modal-z-index: 1000;
$overlay-z-index: 999;
$tooltip-z-index: 2;
$header-z-index: 1;

$transition-time: 0.2s;
$transform-scale: scale(1.01);

$small-border-radius: 10px;
$large-border-radius: 15px;
$img-border-radius: 50%;
$input-border-radius: 1.25rem;
