@use "../../utilities/" as *;
@use "../../base/" as *;

.ad-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: $medium-gap;

  &__image {
    width: 6.25rem;
    height: 6.25rem;
    object-fit: cover;
    border-radius: $small-border-radius;
  }

  &__content {
    @include flex-column;
    gap: $small-gap;
  }

  &__title,
  &__subtitle {
    width: 100%;
    font-size: $xsmall-font-size;
    text-wrap: wrap;
  }

  &__title {
    font-weight: bold;
  }

  @media (min-width: 1200px) {
    flex-direction: row;

    &__image {
      flex: 1 1 auto;
      max-width: 50%;
    }
  }
}
