@use "../../base/" as *;
@use "../../utilities/" as *;

.card {
  @include card-style;
}

.ad-card {
  @include flex-center;
  gap: $medium-gap;

  &__image {
    width: 6.25rem;
    height: 6.25rem;
    border-radius: $small-border-radius;
  }

  &__content {
    @include flex-column;
    gap: $small-gap;
  }

  &__title,
  &__subtitle {
    font-size: $xsmall-font-size;
  }

  &__title {
    font-weight: bold;
  }
}

.newsfeed-card {
  &__header-container,
  &__span {
    @include flex-between;
    margin-bottom: $medium-gap;
  }

  &__profile {
    @include flex-center;
    justify-content: space-between;
    margin-bottom: $medium-gap;
  }

  &__profile {
    margin-bottom: $medium-gap;

    &__picture {
      margin-right: $medium-gap;
    }

    &__user-info {
      @include flex-column;
      justify-content: center;
      font-weight: bold;

      &__timestamp {
        font-size: $xsmall-font-size;
        font-weight: normal;
      }
    }
  }

  &__post-content {
    margin-bottom: $medium-gap;
    word-wrap: break-word;

    p {
      margin-bottom: $medium-gap;
    }
  }

  &__post-image {
    width: 100%;
    margin-bottom: $medium-gap;
    border-radius: $small-border-radius;
  }

  &__post-footer {
    &__social {
      @include flex-center;
      justify-content: space-between;
      font-size: $small-font-size;
    }
  }

  &__interaction {
    @include flex-around;
    gap: $medium-gap;
    font-weight: bold;
    margin: $medium-gap 0;
    padding: $small-gap;
    border-top: 1px solid $dark-gray-100;
    border-bottom: 1px solid $dark-gray-100;

    &__button {
      @include flex-center;
      cursor: pointer;
      border: none;
      background: none;
      padding: 0;
      color: $white;
    }

    &__icon {
      margin-right: $small-gap;
      font-size: $medium-font-size;
    }
  }

  &__comment-input {
    margin-top: $medium-gap;
  }
}

.post-card {
  &__header {
    @include flex-between;
    align-items: center;
    margin-bottom: $large-gap;
    padding-bottom: $large-gap;
    border-bottom: 1px solid $gray-800;

    &__title {
      @include flex-center;
      flex-direction: column;
      font-size: $heading-5-size;
      font-weight: bold;
    }

    &--remove {
      @include flex-center;
      justify-content: center;
      background-color: $dark-gray-100;
      font-size: $medium-font-size;
      width: 35px;
      height: 35px;
      border-radius: 50%;
      border: none;
      outline: none;
      transition: all $transition-time;
      cursor: pointer;

      &:hover {
        background-color: $gray-800;
      }
    }

    &::before {
      content: "";
      width: same-as-span;
    }
  }

  &__inputs-container {
    display: grid;
    grid-template-columns: 3.625rem auto;
    grid-template-rows: auto 15px auto 15px;
    grid-template-areas:
      "avatar title"
      "error1 error1"
      "post post"
      "error error";
    max-height: 70vh; /* adjust as needed */
    // overflow: auto;
    padding-bottom: $medium-gap;
    border-bottom: 1px solid $gray-800;
  }

  &__avatar {
    grid-area: avatar;
  }

  &__title-input {
    background-color: $dark-gray-200;
    margin: 0 auto $medium-gap;
    grid-area: title;
  }

  &__post {
    margin-top: $medium-gap;

    &-icons {
      @include flex-center;
      justify-content: space-between;
      gap: 2rem;
      padding: 0 $medium-gap;
      font-weight: bold;

      @media (max-width: 1380px) {
        justify-content: center;
      }
    }

    &-icons-text {
      font-size: $small-font-size;
      @media (max-width: 1380px) {
        display: none;
      }
    }
  }

  &__list-item {
    @include flex-center;
    justify-content: center;
    border-radius: $img-border-radius;
    transition: background $transition-time ease;
  }

  &__icon {
    padding: 5px;

    &-list {
      display: flex;
      list-style: none;
      font-size: $xlarge-font-size;
      height: max-content;
      margin-bottom: $medium-gap;
    }
  }

  &__error {
    height: 0.9375rem;
    color: $error-color;
    font-size: $small-font-size;
    text-align: center;
    grid-area: error;
  }
}
