@use "../../base/" as *;
@use "../../utilities/" as *;

.newsfeed-card {
  background: $eerie-black;

  &__header-container,
  &__options {
    @include flex-between;
    height: max-content;
  }

  &__options {
    position: relative;

    &__icon {
      font-size: $medium-font-size;
      color: $white;
      padding: 0.5rem;
      border-radius: 50%;
      transition: $transition-time;

      &:hover {
        background: $dark-gray-100;
        cursor: pointer;
      }
    }
  }

  &__profile {
    @include flex-center;
    justify-content: space-between;
    margin-bottom: $medium-gap;
  }

  &__profile {
    margin-bottom: $medium-gap;

    &__picture {
      margin-right: $small-gap;
    }

    &__user-info {
      @include flex-column;
      justify-content: center;
      font-weight: bold;

      &__timestamp {
        font-size: $xsmall-font-size;
        font-weight: normal;
      }
    }
  }

  &__post-content {
    margin-bottom: $medium-gap;
    word-wrap: break-word;

    p {
      margin-bottom: $medium-gap;
    }
  }

  &__post-image {
    width: 100%;
    margin-bottom: $medium-gap;
    border-radius: $small-border-radius;
  }

  &__post-footer {
    &__social {
      @include flex-center;

      justify-content: space-between;
      font-size: $small-font-size;
    }
  }

  &__comment-input {
    margin-top: $medium-gap;
  }
}
