@use "../base/" as *;

$aside-width: 22rem;

.aside-container {
  width: $aside-width;
}

.aside {
  position: fixed;
  top: 6.25rem;
  width: inherit;
  height: calc(100vh - 9rem - 2rem);
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0 auto;
  background-color: $eerie-black;

  &.left {
    left: 0;
  }

  &.right {
    right: 0;
  }
}
