@use "../base/" as *;

$aside-width: 22rem;

.main {
  display: grid;
  grid-template-columns: auto 3fr auto;
  gap: $medium-gap;
  min-height: max-content;
  overflow-y: auto;
  padding: 6.25rem 0 3.75rem;
}

.pages {
  max-width: 42.5rem;
  margin: 0 auto;
}

.aside-container {
  width: $aside-width;
}

.aside {
  position: fixed;
  top: 6.25rem;
  width: inherit;
  height: calc(100vh - 9rem - 2rem);
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0 auto;
  background-color: $eerie-black;

  &.left {
    left: 0;
  }

  &.right {
    right: 0;
  }
}
