@use "../base/" as *;
@use "../utilities/" as *;

$aside-width: 22rem;

.aside-container {
  width: $aside-width;
}

.aside {
  position: fixed;
  top: 5.25rem;
  width: inherit;
  height: calc(100vh - 9rem - 1rem);
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0 auto;
  background: $eerie-black;

  &.left {
    left: 0;
    border-top-right-radius: $large-border-radius;
    border-bottom-right-radius: $large-border-radius;
  }

  &.right {
    right: 0;
    border-top-left-radius: $large-border-radius;
    border-bottom-left-radius: $large-border-radius;
  }
}
