@use "../base/" as *;
@use "../utilities/" as *;

.avatar {
  border-radius: $img-border-radius;
  position: relative;
  cursor: pointer;
  width: 3.125rem;
  height: 3.125rem;

  background: {
    size: cover;
    position: center;
  }

  &:hover {
    filter: brightness(1.2);
  }

  &.border {
    border: 2px solid $white;
  }
}
