@use "../base/" as *;
@use "../utilities/" as *;

.comment-item {
  margin-top: $medium-gap;

  &__comment {
    @include flex-start;
    margin-bottom: $small-gap;

    &__avatar {
      margin-right: $small-gap;
    }

    &__bubble {
      @include flex-column;
      padding: $small-gap;
      background-color: $dark-gray-200;
      border-radius: 0.9375rem;
      font-size: $small-font-size;

      &__name {
        font-weight: bold;
      }
    }
  }
}
