@use "../utilities/" as *;
@use "../base/" as *;

.context-menu {
  @include flex-center;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: max-content;
  max-height: 17.375rem;
  right: 75%;
  background: $eerie-black;
  border: 1px solid $dark-gray-100;
  padding: 10px 20px;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 1;
  border-radius: 0.25rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  color: $white;
  font-size: $small-font-size;

  &__item {
    @include flex-center;
    width: 100%;
    padding: 10px;
    text-align: center;
    transition: background 0.2s;

    &:hover {
      @include hover-style;
    }

    svg {
      margin-right: 1rem;
      font-size: $medium-font-size;
    }
  }

  &.below {
    top: 100%;
    bottom: auto;
  }

  &.above {
    bottom: 100%;
    top: auto;
  }

  &__arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    right: 0;
  }

  &.below &__arrow {
    top: 0;
    border-width: 0 5px 10px 5px;
    border-color: transparent transparent $dark-gray-100 transparent;
  }

  &.above &__arrow {
    bottom: 0;
    border-width: 10px 5px 0 5px;
    border-color: $dark-gray-100 transparent transparent transparent;
  }

  &.closed {
    display: none;
  }

  &.open {
    display: block;
  }
}
