@use "../base/" as *;
@use "../utilities/" as *;

.create-post-modal {
  @include flex-center;
  flex-direction: column;
  width: 31.25rem;
  min-width: 26.25rem;
  max-height: max-content;
  margin: auto 1rem;
  background: $eerie-black;
  padding: 1.25rem;
  border-radius: $large-border-radius;
  z-index: $modal-z-index;

  @media (max-width: 34.375rem) {
    width: 90%;
  }

  &:focus-visible {
    outline: none;
  }

  &__overlay {
    @include flex-center;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(black, 0.9);
    z-index: $overlay-z-index;
  }

  &__form {
    width: 100%;
  }

  &__header {
    @include justify-between;
    align-items: center;
    margin-bottom: $large-gap;
    padding-bottom: $large-gap;
    border-bottom: 1px solid $gray-800;

    &::before {
      content: "";
      width: same-as-span;
    }
  }

  &__title {
    @include flex-center;
    flex-direction: column;
    font-size: $heading-5-size;
    font-weight: bold;
  }

  &__remove {
    @include flex-center;
    justify-content: center;
    background: none;
    font-size: $medium-font-size;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: none;
    outline: none;
    transition: all $transition-time;
    cursor: pointer;

    &:hover {
      background: $dark-gray-100;

      &:active {
        transform: scale(0.85);
      }
    }
  }

  &__inputs-container {
    display: grid;
    grid-template-columns: 3.625rem auto;
    grid-template-areas:
      "avatar title"
      "error-title error-title"
      "post post"
      "error-post error-post";
    padding-bottom: $medium-gap;
    border-bottom: 1px solid $gray-800;
  }

  &__avatar {
    grid-area: avatar;
  }

  &__title-input {
    background: $dark-gray-200;
    margin: 0 auto $medium-gap;
    grid-area: title;

    &:hover {
      background: $dark-gray-100;
    }
  }

  &__textarea {
    width: 100%;
    max-height: 50vh;
    background: $eerie-black;
    color: $white;
    border: none;
    outline: none;
    resize: none;
    overflow: auto;
    white-space: pre-wrap;
    word-break: break-word;
    grid-area: post;

    &:not([rows]) {
      min-height: 6.25rem;
    }

    &::placeholder {
      font-size: 1.5rem;
    }

    &--large-text {
      font-size: 1.5rem;
    }

    &--small-text {
      font-size: 0.9375rem;
    }
  }
}
