@use "../base/" as *;
@use "../utilities/" as *;

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;

  &:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
  }
}

.tooltip-text {
  visibility: hidden;
  opacity: 0;
  width: max-content;
  background: $secondary-hover-color;
  color: $eerie-black;
  font-size: $xsmall-font-size;
  text-align: center;
  padding: 5px;
  border-radius: $small-border-radius;
  position: absolute;
  z-index: $tooltip-z-index;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  transition: opacity $transition-time, visibility $transition-time;

  &::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;

    border: {
      width: 5px;
      style: solid;
      color: $dark-gray-200 transparent transparent transparent;
    }
  }
}
