@use "../base/" as *;
@use "../utilities/" as *;

.footer {
  background: $eerie-black;
  text-align: center;
  padding: $medium-gap;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: $footer-z-index;
}
