@use "../base/" as *;
@use "../utilities/" as *;

.header {
  display: grid;
  grid-template-columns: 20% 1fr 20%;
  width: 100%;
  padding: $medium-gap;
  background: $eerie-black;
  position: fixed;
  z-index: $header-z-index;

  &__logo-container {
    @include flex-center;

    &__logo {
      height: 1.5625rem;
      margin-right: $small-gap;
      cursor: pointer;
    }

    &__h1 {
      font: {
        family: $font-family-secondary;
        size: $medium-font-size;
        weight: 900;
      }
      cursor: pointer;
    }
  }

  &__search-container {
    @include flex-center;
    justify-content: center;

    &__div {
      display: flex;
      align-items: center;
      width: 75%;
      padding-left: $small-gap;
      border-radius: $input-border-radius;
      background: $white;
    }
  }

  &__profile-container {
    @include flex-center;
    justify-content: flex-end;
  }

  &__profile__span {
    @include flex-center;
    justify-content: center;
    width: 3.125rem;
    height: 3.125rem;
    margin-right: $small-gap;
    border-radius: 50%;

    @include link-hover;
  }

  &__icon {
    font-size: $medium-font-size;
  }

  &__status {
    width: 12px;
    height: 12px;
    border: 2px solid $white;
    border-radius: $img-border-radius;
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translate(50%, -50%);
    background-color: $ultra-violet;

    &--active {
      background-color: $status-active-color;
    }
  }

  .search-bar {
    transition: $transition-time;

    &:hover,
    &:active {
      transform: $transform-scale;
    }
  }

  @media (max-width: 1080px) {
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
  }

  @media (max-width: 768px) {
    padding: $small-gap;
  }

  @media (max-width: 680px) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;

    .search-bar {
      grid-column: span 2;
      width: 100%;
      margin-top: $medium-gap;
      order: 3;
    }

    &__logo-container,
    &__profile-container {
      width: 100%;
    }
  }
}
