@use "../base/" as *;
@use "../utilities/" as *;

.nav-sidebar {
  &__list-item {
    display: flex;
    padding: $small-gap;
    margin: $small-gap 0;
  }

  &__image {
    @include flex-center;
    gap: $medium-gap;
    background: none;
    font-weight: bold;
    color: $white;
    border: none;
    cursor: pointer;
  }

  &__icon {
    margin-right: $medium-gap;
    font-size: $large-font-size;
  }
}
