@use "../base/" as *;
@use "../utilities/" as *;

.navsidebar {
  &__list {
    @include link-margin;
  }
  &__list-item {
    display: flex;
    padding: $small-gap;
    margin: $small-gap 0;
    border-radius: $small-border-radius;

    @include hover-style;

    & div {
      width: 100%;
    }
  }

  &__image {
    @include flex-center;
    gap: $medium-gap;
    background: none;
    font-weight: bold;
    color: $white;
    border: none;
    cursor: pointer;

    & .avatar:hover {
      filter: none;
    }
  }

  &__icon {
    margin-right: $medium-gap;
    font-size: $large-font-size;
  }
}
