@use "../base/" as *;
@use "../utilities/" as *;

.navsidebar {
  display: block;
  position: fixed;
  top: 5.25rem;
  left: 0;
  width: 20%;
  // min-width: 18.75rem;
  height: calc(100vh - 9rem - 1rem);
  overflow-y: auto;
  overflow-x: hidden;

  &__list {
    @include link-margin;

    @media (max-width: 1170px) {
      transform: translateX(-100%);
      transition: transform 0.3s ease-in-out;

      .navsidebar.open & {
        transform: translateX(0);
      }
    }
  }
  &__list-item {
    display: flex;
    padding: $small-gap;
    margin: $small-gap 0;
    border-radius: $small-border-radius;

    @include hover-style;

    & div {
      width: 100%;
    }
  }

  &__name {
    @include flex-center;
    gap: $medium-gap;
  }

  &__image {
    @include flex-center;
    gap: $medium-gap;
    background: none;
    font-weight: bold;
    color: $white;
    border: none;
    cursor: pointer;

    & .avatar:hover {
      filter: none;
    }
  }

  &__icon {
    margin-right: $medium-gap;
    font-size: $large-font-size;
  }

  @media (max-width: 1170px) {
    display: none;
    top: 60px;
    transform: translateX(-100%);
    transition: all 0.3s ease-in-out;

    &.open {
      display: block;
      transform: translateX(0);
      width: 18.75rem;
      padding: $small-gap;
      background: $eerie-black;
      z-index: $header-z-index;
    }
  }
}
