.navbar {
  background: #222;
  display: flex;
  justify-content: center;
  width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  &__list {
    display: flex;

    &__item {
      margin: 0 0.5rem 0.3125rem;
      font-size: 1.25rem;
    }
  }
}
